.App {
  text-align: center;
}

.variant-button {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.variants-block {
  display: flex;
  flex-flow: row;
  max-width: 900px;
  margin: 0 auto;
}

.new-days-container {
  margin: 0 auto
}