.App {
  text-align: center;
}

.rules-container {
  max-width: 80%;
  margin: 30px auto;
  padding: 35px;
  background-image: url(https://img.glyphs.co/img?src=aHR0cHM6Ly9zMy5tZWRpYWxvb3QuY29tL3Jlc291cmNlcy9TZWFtbGVzc19DcnVtcGxlZF9QYXBlcl9QcmV2aWV3MS5wbmc&q=90&enlarge=true&h=1036&w=1600)
}

.variant-button {
  width: 370px;
  height: 370px;
  margin: 0 auto;
  border-radius: 5px;
}

.variant-button h3 {
  font-size: 18px;
}

.variant-button h2 {
  font-size: 24px;
}

.variants-block {
  display: flex;
  flex-flow: row;
  max-width: 1200px;
  margin: 0 auto;
}

.new-days-container {
  margin: 0 auto;
}

.leave-block {
  display: flex;
  flex-flow: column;
  width: 370px;
}

.leave-variants {
  margin: 10px auto;
  width: 360px;
  border-radius: 5px;
}

.leave-h2 {
  margin: 0 auto;
}

.go-inside-button {
  position: absolute;
  left: 46%;
  top: 75%;
  font-size: 22px;
}

.go-inside-button{
  display: inline-block;
  text-decoration: none;
  background: red;
  color: #FFF;
  width: 150px;
  height: 150px;
  line-height: 150px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  overflow: hidden;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px red;
  transition: .4s;
}

.go-inside-button:active{
  -ms-transform: translateY(2px);
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  border-bottom: none;
}

.call-your-team-button {
  -moz-box-shadow: inset 0px 1px 0px 0px #1a3a3a;
  -webkit-box-shadow: inset 0px 1px 0px 0px #1a3a3a;
  box-shadow: inset 0px 1px 0px 0px #1a3a3a;
  background-color: #1a3a3a;
  border: 1px solid #1a3a3a;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 14px;
  padding: 8px 18px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 10px;
} 

.call-your-team-button:hover {
  background: linear-gradient(to bottom, #1a3a3a 5%, #5c7457 100%);
  background-color: #1a3a3a;
}

.hello {
  font-family: 'Gloria Hallelujah', cursive, sans-serif;
}

.rules-text {
  font-family: 'Manjari', sans-serif;
  letter-spacing: 1.5px;
}

.people-img {
  max-width: 160px;
  margin: 10px;
}

.people-img:hover {
  animation: shake 0.7s; 
  animation-iteration-count: infinite; 
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.people {
  display: flex;
  flex-flow: row;
  margin: 0 auto;
}

.top-block {
  display: flex;
  flex-flow: row;
}

.stats-block {
  text-align: left;
}

.vault {
  width: 300px;
  border-radius: 5px;
}

.message {
  font-family: 'Gloria Hallelujah', cursive, sans-serif;
}

.note {
  width: 400px;
}

.note-box{
  position: relative;
  display: inline-block; /* Make the width of box same as image */
}
.note-box .message{
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 30%; /* Adjust this value to move the positioned div up and down */
  text-align: center;
  width: 60%; /* Set the width of the positioned div */
}

.message-container {
  display: flex;
  flex-flow: row;
  max-width: 1200px;
  margin: 0 auto;
}

.message-variant-button {
  width: 300px;
  height: 200px;
  margin: 10px auto;
  border-radius: 5px;
}

.message-variant-button h3 {
  font-size: 18px;
}

.message-variant-button h2 {
  font-size: 24px;
}

.message-variants-block {
  display: flex;
  flex-flow: column;
  max-width: 600px;
  margin: 0 auto;
}

.people-buttons-block {
  max-width: 80%;
  margin: 30px auto;
  padding: 35px;
  background-image: url(https://img.glyphs.co/img?src=aHR0cHM6Ly9zMy5tZWRpYWxvb3QuY29tL3Jlc291cmNlcy9TZWFtbGVzc19DcnVtcGxlZF9QYXBlcl9QcmV2aWV3MS5wbmc&q=90&enlarge=true&h=1036&w=1600); 
}

.people-rules-block {
  max-width: 80%;
  margin: 0 auto;
  padding: 5px;
}

.person-name {
  font-size: 24px;
  margin: 5px auto;
  font-family: 'Permanent Marker', cursive;
}

.end-game-img {
  max-width: 800px;
  margin: 20px auto;
  border-radius: 10px;
}